:root {
  --primary: #ec5242;
  --secondary: #272a31;
  --third: #d3d3d3;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "COCOGOOSE";
  src: url("src/Cocogoose_trial.eot?") format("eot"),
    url("src/Cocogoose_trial.woff") format("woff"),
    url("src/Cocogoose_trial.ttf") format("truetype"),
    url("src/Cocogoose_trial.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.theme1 {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 2.075em;
  color: var(--primary);
  line-height: 1em;
  padding: 0.125em;
}

.theme2 {
  font-size: 1em;
  color: var(--primary);
}

.theme3 {
  font-size: 1em;
  font-weight: 700;
  color: var(--secondary);
}

.theme4 {
  color: white;
}

.theme5 {
 font-size: 0.75em;
}

.ligthBg {
  background-color: var(--third);
}

.darkBg {
  background-color: var(--secondary);
}

.mosaic_bg {
  background-image: url(img/mosaic_bg.png);
}

.section_hr {
  width: 4em;
  border: none;
  margin: 1em;
  border-bottom: 1px solid var(--primary);
}

.section_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

.flex_container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.unstyled {
  list-style-type: none;
  padding-inline-start: 0;
}

.nav_link {
  text-decoration: none;
}


/* Page styling */

section {
  background-origin: border-box;
  padding: 0.5em;
}

#social_header {
  background-color: var(--secondary);
}

.card_icon {
  width: 5em;
}

#partner_list {
  flex-flow: row wrap;
  justify-content: center;
}

#partner_list>li {
  /* width: 30%; */
  text-align: center;
}

.partner_picture {
  margin: 0.5em;
  height: 2.5em;
  max-width: auto;
  filter: grayscale(1);
}

footer {
  padding: 2.5em;
}

footer>div {
  width: 100%;
  justify-content: space-between;
}

footer>div>* {
  width: 45%;
  flex-grow: 0;
}

/* utility */

.hidden {
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.only_desktop {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.icon-bar-container {
  height: 24px;
  width: 24px;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 25px;
  position: absolute;
}


.icon-bar {
  background-color: var(--secondary);
  height: 5px;
  border-radius: 1px;
  width: 24px;
}

/* Media queries */

@media (min-width: 768px) {
  html {
    font-size: 2em;
  }

  /* page content */


  /* utility */
  .only_desktop {
    height: initial;
    width: initial;
    margin: initial;
    padding: initial;
    opacity: 1;
  }

  .only_mobile {
    display: none;
  }
}