:root {
  --primary: #ec5242;
  --secondary: #272a31;
  --third: #d3d3d3;
  --third_transparent: #d3d3d320;
  --cocogoose: 'COCOGOOSE', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "COCOGOOSE";
  src:
    url("src/Cocogoose_trial.eot?") format("eot"),
    url("src/Cocogoose_trial.woff") format("woff"),
    url("src/Cocogoose_trial.ttf") format("truetype"),
    url("src/Cocogoose_trial.svg#COCOGOOSE") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

.noShow {
  opacity: 0;
}

.theme1 {
  font-family: var(--cocogoose);
  font-size: 2.075em;
  color: var(--primary);
  line-height: 1em;
  padding: 0.125em;
}

.theme2 {
  font-size: 28px;
  color: var(--primary);
}

.theme3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--secondary);
}

.theme4 {
  color: white;
}

.theme5 {
  font-size: 0.75em;
}

.ligthBg {
  background-color: var(--third);
}

.darkBg {
  background-color: var(--secondary);
}

.mosaic_bg {
  background-image: url(img/mosaic_bg.png);
}

hr {
  width: 1rem;
  border: none;
  margin: 1em;
  border-bottom: 2px solid gray;
}

.section_hr {
  width: 2rem;
  border-bottom: 2px solid var(--primary);
}

.section_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
}

.flex_container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.unstyled {
  list-style-type: none;
  padding-inline-start: 0;
  text-decoration: none;
}

.nav_link {
  text-decoration: none;
  text-align: center;
  color: var(--third);
  font-size: 2em;
}

.nav_link:hover {
  color: var(--primary);
}

/* Page styling */
nav {
  width: 100%;
}

.nav_bar {
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.75em;
}

.modal_menu {
  position: fixed;
  height: 100%;
  background-image: url(img/mosaic_bg.png);
  top: 0;
  left: 0;
  z-index: 1;
}

#menu {
  gap: 50px;
  flex-direction: column;
  width: 100%;
}

#navigation {
  align-content: center;
}

#nav_logo {
  flex-grow: 0;
  height: 2em;
  width: 4em;
}

#nav_home,
#nav_about {
  flex-grow: 0;
  justify-self: flex-end;
}

section {
  background-origin: border-box;
  padding-inline: 1em;
}

#homePage,
#aboutPage {
  padding-top: 6rem;
  padding-bottom: 3rem;
}

#aboutPage {
  text-align: center;
  background-color: var(--third);
  color: var(--secondary);
}

#mail_link {
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary);
  text-decoration: none;
  border-bottom: 1px solid var(--secondary);
}

#social_header {
  background-color: var(--secondary);
  justify-content: flex-end;
  padding-block: 8px;
}

#social_header ul {
  gap: 30px;
}

li {
  display:contents;
}

#social_header a {
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.intro_p {
  padding: 1rem;
  border: 3px solid white;
  background-color: var(--third);
  margin-block: 1rem;
  max-width: 600px;
}

#aboutPage .intro_p {
  max-width: 100%;
  width: 100%;
  border-color: var(--third);
  background-color: white;
}

#event_time {
  text-transform: uppercase;
  font-family: var(--cocogoose);
  font-size: 24px;
  color: var(--secondary);
}

#event_place {
  font-size: 16px;
}

#program_section {
  flex-direction: column;
}

#logo_disclaimer {
  background-color: white;
  text-align: center;
  border-bottom: 2px solid var(--third);
  padding-bottom: 40px;
}

#disclaimer {
  padding-bottom: 2rem;
  font-size: 16px;
}

#logo_presentation {
  border: 2px solid var(--third);
  padding: 32px;
  width: 100%;
}

#program_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

article {
  background: var(--third_transparent);
  padding: 16px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  align-items: center;
  width: 100%;
}

.card_icon {
  width: 100%;
  width: 15%;
}

.card_title {
  color: var(--primary);
  font-size: 20px;
  width: 25%;
}

.card_text {
  color: white;
  font-size: 16px;
  width: 60%;
}

#join_button {
  background-color: var(--primary);
  border: none;
  padding: 32px 64px;
  color: white;
  font-size: 24px;
  margin-block: 32px;
}

#partner_list {
  flex-flow: row wrap;
  justify-content: center;
}

#partner_list > li {
  text-align: center;
}

.partner_picture {
  margin: 0.5em;
  height: 2.5em;
  filter: grayscale(1);
}

footer {
  padding: 30px;
}

footer > div {
  width: 100%;
  justify-content: space-between;
}

footer > div > * {
  width: 45%;
  flex-grow: 0;
  color: var(--secondary);
  font-size: 20px;
}

#featured_speakers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  padding-bottom: 3rem;
}

#past_summits {
  flex-flow: column;
  gap: 16px;
  padding-bottom: 40px;
  text-align: center;
}

#past_introduction {
  width: 100%;
  font-size: 16px;
  color: var(--secondary);
  padding-bottom: 30px;
}

.summit_card {
  position: relative;
  width: 100%;
}

.summit_bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: var(--primary);
}

.caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ec524299;
  justify-content: center;
  align-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
}

.summit_year {
  font-size: 48px;
  width: 100%;
  font-weight: bold;
}

.summit_comment {
  font-size: 32px;
  width: 100%;
  font-weight: 400;
}

/* dinamic cards */
.speaker_container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 24px;
  max-width: 100%;
}

.picture_container {
  background-image: url(img/chessboard.svg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 60px;
  width: 100%;
}

.speaker_picture {
  width: 100%;
  transform: translate(16px, 16px);
}

.info_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block: 8px;
}

.speaker_name {
  font-size: 28px;
  color: var(--secondary);
}

.speaker_title {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary);
}

.info_container hr {
  margin: 0;
}

.speaker_description {
  font-size: 16px;
  color: var(--secondary);
}

#more_button {
  font-size: 16px;
  text-align: center;
  width: 100%;
  padding-block: 12px;
  background: none;
  border: 2px solid var(--third);
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 3rem;
}

.dropdown_icon {
  width: 32px;
  height: 32px;
  background-image: url(img/chevron.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/* utility */
iframe {
  border: none;
  overflow-y:hidden;
  width: 100%;
}

.noScroll {
  overflow-y: hidden;
}

.autoScroll {
  overflow-y: auto;
}

.hidden {
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.icon-bar-container {
  width: fit-content;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 1rem;
  position: fixed;
  gap: 6px;
  top: 0;
  z-index: 2;
  background-color: var(--third);
  border-radius: 10px;
}

.icon-bar {
  background-color: var(--secondary);
  height: 6px;
  border-radius: 1px;
  width: 30px;
  transition: all 1s ease-in-out;
  transform-origin: 5px 50%;
}

.rotatePos {
  transform: rotate(45deg) translate(5px);
  width: 33px;
  border-radius: 5px;
}

.rotateNeg {
  transform: rotate(-45deg) translate(5px);
  border-radius: 5px;
  width: 33px;
}

/* Media queries */

@media (min-width: 768px) {
  html {
    font-size: 2em;
  }

  /* page content */
  .nav_link {
    color: var(--secondary);
    font-size: 0.5em;
  }

  #menu {
    padding-block: initial;
    flex-direction: initial;
    width: initial;
  }

  section {
    padding-inline: 10%;
  }

  #program_cards {
    flex-flow: row;
    align-items: stretch;
    gap: 4px;
  }
  
  article {
    flex-direction: column;
    text-align: center;
    width: 49%;
  }

  article * {
    width: 100% !important;
  }

  article img {
    padding: 16px;
    width: 60% !important;
  }

  #featured_speakers {
    grid-template-columns: 1fr 1fr;
  }

  #speakers_header {
    grid-area: 1/span 2;
  }

  #past_summits {
    flex-flow: row wrap;
    justify-content: center;
  }

  .summit_card {
    width: 49%;
  }

  /* utility */

  .only_mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  .only_desktop {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    display: none;
  }
}
